html {
	font-family: 'Tisa Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* HEADER STUFF */

header {
	height: 300px;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	top: 0;

	z-index: 0;
	/*background: url("http://source.unsplash.com/ya631mqQ7Ng/1920x1080");
	/*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("/resources/header.png");*/*/
	background-size: cover;
	background-color: #ca0813;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	display: flex;
  align-items: center;
  justify-content: center;
	flex-wrap: wrap;
}

.colorblock {
	margin-left: -10vw;
	width: 120vw;
	height: 170px;
	-webkit-transform: rotate(-3.5deg);
	        transform: rotate(-3.5deg);
	position: relative;
}
#cyan { background: #2BABE2; } 		/* rgb(43,171,226) */
#magenta { background: #EA0B8B; } 	/* rgb(234,11,139) */
#yellow { background: #FCEE21; } 	/* rgb(252,238,33) */
#green { background: #01A64F; } 	/* rgb(1,166,79) */

#maintitle {
	text-align: center;
	color: #000;
	font-weight: 300;
	/*letter-spacing: px;*/
	font-size: 7vw;
}
#maintitle a {
	color: #fed86f;
	text-decoration: none;
}

/* FOOTER STUFF */

footer {
	display: block;
	background-color: #000;
	height: 100px;

	/*position: relative;*/

	display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
	text-align: center;

	font-size: 0.75em;
	color: #fff;

}

/* NAV */

nav {
	text-align: center;
}
nav a {
	color: #000;
	text-decoration: none;

	padding: 10px;
	background: rgba(0,0,0,0.05);
	border-bottom: 3px solid rgb(0,0,0);
}
nav a:hover {
	background: rgba(43,171,226,0.2);
	border-bottom: 3px solid rgb(43,171,226);
}
nav a:nth-child(2):hover {
	background: rgba(234,11,139,0.2);
	border-bottom: 3px solid rgb(234,11,139);
}
nav a:nth-child(3):hover {
	background: rgba(252,238,33,0.2);
	border-bottom: 3px solid rgb(252,238,33);
}
nav a:nth-child(4):hover {
	background: rgba(1,166,79,0.2);
	border-bottom: 3px solid rgb(1,166,79);
}

nav a.active {
	border-bottom: 3px solid rgb(43,171,226);
}
nav a:nth-child(2).active {
	border-bottom: 3px solid rgb(234,11,139);
}
nav a:nth-child(3).active {
	border-bottom: 3px solid rgb(252,238,33);
}
nav a:nth-child(4).active {
	border-bottom: 3px solid rgb(1,166,79);
}

/* GENERAL */

#outerwrapper {
	z-index: 1;
	margin-top: 300px;
	padding-top: 25px;
	width: 100%;
	background-color: #FFF;

	box-shadow: 0 -4px 5px rgba(0,0,0,0.3);
	flex: 1;
}

#wrapper {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}

h1 {
	font-family: 'Bangers', 'Tisa Sans Pro', cursive;
	color: black;
}

h1, h2 {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}
h2 {
	font-size: 5vmin;
}
h3 {
	font-weight: 700;
	font-size: 1.5em;
}
p {
	font-weight: 300;
	font-size: 1.25em;
	margin: 1em auto;
	text-align: center;
	line-height: 2;
}

/* HOME */

h3.question {
	margin-bottom: 5px;
}
p.answer {
	margin-top: 5px;
}

/* PUBAR */

h2.pubhead {
	margin-bottom: 0;
	text-transform: inherit;
}
p.subhead {
	margin-top: 0;
	text-align: center;
}
#kthmap-canvas, #kistamap-canvas, #sumap-canvas {
	height: 500px;
}
h1.firstHeading {
	text-transform: inherit;
}

/* BUSSAR */

table {
	width: 100%;
	max-width: 800px;
	margin: 25px auto;
	text-align: center;
	/*border: solid 1px black;*/
}
table:first-of-type {
	margin-top: 50px;
}
.border-above {
	border-top: solid 1px black;
}
th {
	margin: 1em;
	font-size: 1em;
}
p.bussar {
	margin: 5px;
	font-size: 1.75em;
}

h2.bussar {
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
}

h3.bussar {
	font-size: 1.75em;
	font-family: 'Oswald', sans-serif;
}

/* SPONSORER */

p.center {
	text-align: center;
}
p img {
	vertical-align: middle;
}

/* FAMILJEN */
.familjen {
	border: solid 5px black;
	border-style: double;
	width: 760px;
}

/* PUBAR */
.pub {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.pub > h2 {
	padding-right: 1em;
	font-size: 3vmin;

}

.pub > p {
	margin: 0;
}
